# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\spring-boot-examples-master\spring-boot-examples-master\spring-boot-shiro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
